body {
  /* background: linear-gradient(194.07deg, #CDDDF4 3.26%, #CDBAFA 100%); */
 background:url("https://thumbs.dreamstime.com/t/cachimba-p%C3%BArpura-abstracta-del-humo-en-un-fondo-negro-58239958.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;

}
.menuMovile {
  display: none
}

.menu {
  display: flex;
  flex-direction: row-reverse;
}

.menu_bar {
  display:none;
}

.menu ul {
  display: flex;
  list-style: none;
  background-color: rgba(64, 66, 65, 0.342);
}

.menu li {
  border-right: 1px solid #FFF;
  text-align: center;
  flex-grow: 1;
  display: block;
  padding: 20px;
  color: #FFF;
  text-decoration: none;
  font-family: sans-serif;
}

.menu li:hover {
  background-color: rgb(87, 42, 99);
}

.menu li a {
  display: block;
  padding: 20px;
  color: #FFF;
  text-decoration: none;
}

.containerDos {
  background-color:#A3A7D4 ;
}

@media (min-width:300px) and (max-width:1200px) {

  .menu_bar {
    display:flex;
  }

  .menu {
    display:none;
  }
  
  .ico_menu {
    margin-left: 1%;
  }
  
  .menuMovile {
    display: flex;
    flex-direction: column;
  }

  .menuMovile ul {
    display: flex;
    list-style: none;
    background-color: rgba(64, 66, 65, 0.342);
    width: 100%;
    flex-direction: column;
  }
  
  .menuMovile li {
    border-right: 1px solid #FFF;
    text-align: center;
    flex-grow: 1;
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
  }
  
  .menuMovile li:hover {
    background-color: rgb(87, 42, 99);
  }
  
  .menuMovile li a {
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
  }
}
